body {
    background-color: silver;
}

header {
    background-color: slategray;
    color: white;
    padding: 20px;
    font-size: 300%;
    text-align: center;
    text-shadow: 0 0 3px black;
}

.container {
    box-shadow: 0 0 15px gray;
    padding: 15px;
    background-color: white;
}

main {
    background-color: white;
    padding: 15px;
}

footer {
    background-color: black;
    color: white;
    letter-spacing: 3px;
    font-size: 80%;
    text-align: center;
    padding: 15px;
}